<ion-view title="Home">
 <ion-content class="content has-header">
    <img ng-click="goToMap()" id="minimap" data-tap-disabled="true"/>
    <button class="button" style="background-color: transparent !important;" ng-click="goBack()">
      <!-- <i id="fav_icon_1" class="icon ion-android-arrow-back" style="color : black;"></i> -->
      <i id="fav_icon_1" class="icon ion-android-arrow-dropleft-circle" style="color : cornflowerblue;"></i>
    </button>
    <div id="eventdetailContainer">
      <div>
        <span style="float: right;" ng-click="toggleFavorite(event, event.id)">
          <i id="fav_icon_detail" style="font-size: 35px !important;"></i>
        </span>
        <h2 style="margin-bottom: 0px"><strong>{{event.name}}</strong></h2>
      </div>
      <h5 style="margin-top: 0px" ng-click="goToMap()">{{event.address}} </h5>    
      <div class="separater"></div>
      
      <p style="text-align:left;">
      <strong> {{event.shownTime}}
        <span ng-if="event.start_time" style="float: right;">{{event.start_time}} - {{event.end_time}}</span>
      </strong>
      </p>
      <p>{{event.description}}</p>
    </div>
 </ion-content>
</ion-view>