<ion-view title="Events">
  <ion-nav-title>
    Events
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <div ng-repeat="event in events">
        <ion-item class="item-stable" 
                  ng-click="toggleGroup(event)" 
                  ng-class="{active: isGroupShown(event)}">
          <div class="row"> 
            <div class="col-40 left_column"> 
              <div class="row responsive-sm item-text-wrap">
                <p class="time">{{event.time_start}} - {{event.time_end}}</p>
                <p class="location">{{event.location}}</p>
              </div>
            </div> 
            <div class="col col-50 right_column" ng-click="showAlert(event)"> 
              <div class="row responsive-sm item-text-wrap">
                <h3 class="item_title">{{event.title}}</h3> 
                <p class="item_subtitle" ng-class="{'expandable': event.subevents}">{{event.subtitle}} &nbsp;
                  <i ng-if="event.subevents" class="icon" 
                     ng-class="(isGroupShown(event)) ? 'ion-chevron-up' : 'ion-chevron-down' "></i>
                </p>
              </div>
            </div>
            <span ng-if="event.type == 'standalone'" ng-click="toggleFavorite(event, event.id)" 
                  class="item-icon-right">
              <i id="fav_icon_{{event.id}}" class="icon ion-android-star-outline icon-accessory star"></i>
            </span>
          </div> 
        </ion-item>
        <ion-item class="item-accordion" 
                  ng-repeat="subevent in event.subevents"
                  ng-show="isGroupShown(event)">
          <span  ng-click="showAlert(subevent)">
            <h6 id="class_list_title" class="class-title">
              <span id="subevent_title">{{subevent.title}}</span><br/><br/>
              {{subevent.location}}<br/>
              {{subevent.professor}} 
            </h6>
          </span>
          <span ng-click="toggleFavorite(subevent, subevent.id)" class="item-icon-right">
            <i id="fav_icon_{{subevent.id}}" class="icon ion-android-star-outline icon-accessory star"></i>
          </span>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
