.scroll-content {
    background-image: url("../img/jumbo_logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.list {
    opacity: 0.9;
}

.date-item {
  color: $dark;
}
