.scroll {
    height: 100%;
}

#minimap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 106%;
    height: 32%;
}

.separater {
    height: 2px;
    width: 100%;
    background-color: #E0E0E0;
    margin-bottom: 3px;
}

#eventdetailContainer {
    padding: 20px;
    padding-top: 10px;
    margin-top: 35%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
}
