.scroll {
    height: 100%;
}
 
#minimap {
    position: absolute;
    top : 0px;
    left: 0px;
    width: 106%;
    height: 32%;
}

.separater {
  height: 2px;
  width: 100%;
  background-color: #E0E0E0;
  margin-bottom: 3px;
}
