.scroll {
    height: 100%;
}
 
#map {
    width: 106%;
    height: 106%;
    margin: -10px;

}

.bubble_content {
        font-size: 14px !important;
        padding: 0px 5px 0px 5px;
        font-family: $font-family-base;
}

