.scroll {
    height: 100%;
}
 
#map {
    width: 106%;
    height: 106%;
    margin: -10px;

}

#iw-container {
   border-radius: 10px 10px 10px 10px; // apply 10px to the bottom corners of the infowindow
}
