
$positive: #67a1d7 !default;
$positivelight: #54a4db !default;
$balanced: #21b573 !default;
$locationcolor: #333333 !default;
$subtitlecolor: #4d4d4e !default;
$titlecolor: #231f20 !default;
$starorange: #fbb03b !default;
$subtabcolor: #82b9e4 !default;
$assertive: $subtabcolor !default;
