doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    //- bootstrap css
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    //- bootstrap-timepicker css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css', integrity='sha256-Sv44mRstp+agwCWaPO4R+KKV+Az9Cu+qS5/hNRQlHT0=', crossorigin='anonymous')
    //- bootstrap-colorpicker css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.6/css/bootstrap-colorpicker.min.css', integrity='sha256-gJuVE4v9NFt8+ZoqJg8bn4+WMqce+Ek60accpwl49hg=', crossorigin='anonymous')

    //- jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js' integrity='sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY' crossorigin='anonymous')
    //- tether
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js' integrity='sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB' crossorigin='anonymous')
    //- bootstrap js
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    //- bootstrap-timepicker js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js', integrity='sha256-nTk/a8Kql0uKPMcUKZ7luVTLQzohljLoRxiP5U1oT7Q=', crossorigin='anonymous')
    //- bootstrap-colorpicker js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.6/js/bootstrap-colorpicker.min.js', integrity='sha256-WuDHo8uOaP2w1ukXEAqRPSTyT8OI3Bsn75SXLHEVV2I=', crossorigin='anonymous')

  body
    style(type='text/css')
      include styles.css
    script
      include script.js
    block content