mixin form_fields(schema)
  // -
  //   var schema = {
  //     text: {
  //       type: 'String'
  //     },
  //     std: {
  //       type: 'String',
  //       enum: ['Student', 'Parent']
  //     }
  //   }
    
  - for (var field in schema)
      if schema[field].enum
        each option in schema[field].enum
          input(type='radio', name=field, value=option)
          =option
      else if schema[field].type == 'String'
        input(type='text', name=field)